body{
    background-color: aqua;
    text-align: center;
}

.formy{
    text-align: center;
    box-sizing: border-box;
    border: blue;
    border-radius: 5px;
    padding: 20px;
}

input[type=submit]{
    background-color: gray;
    color: white;
    width: 100px;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
   
}
